*.py[cod]
__pycache__

# Packages
*.egg
*.egg-info
dist/*
build/*

# Sphinx
doc/_build/*
doc/tse2sql/*

# Tox
.tox/*
.cache/*
.coverage

# MySQL
*.mwb.bak

# SQL
*.data.json
*.mysql.sql
*.sqlite.sql
*.samples.json

# TSE
padron*.zip
padron*/*

# Misc
*~
